.caja,
#cajaResultado {
  display: flex;
  justify-content: center;
}

#cajaResultado{
    padding-top: 50px;
}

.btn {
    margin: 5px;
    padding: 5px;
    background-color: cornflowerblue;
    border-color: cornflowerblue;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}